@use '../../styles/_mixins.scss' as *;

.details {
    &__title {
        text-align: center;
        @include h1;
    }

    &__display {
    list-style-type: none;
    }

    &__amount {
    padding-bottom: 1rem;
    @include p-font;
    }

    &__expense {
    @include p-font;
    }

}