@font-face {
    font-family:'LibreCaslon';
    src: url(../assets/fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'LibreCaslon';
    src: url(../assets/fonts/Libre_Caslon_Text/LibreCaslonText-Bold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family:'LibreCaslon';
    src: url(../assets/fonts/Libre_Caslon_Text/LibreCaslonText-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

